body, html {
  height:100%;
}

body {
    padding-top: 70px;
}


#sidebar {
   padding-left:0;
}

.available_buttons{
    position: relative;
    text-align: left;
}

.available_buttons>.btn{
    line-height: 0.8;
    margin: 1px 0px;
    border: solid white 1px;
    cursor: pointer;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

td.details-control {
    padding-left: 40px;
    background: url('../img/Icons/details_open.png') no-repeat left 10px center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/Icons/details_close.png') no-repeat left 10px center;
}

tr{
    cursor: pointer;    
}

#container_siteplan{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;   
}

#container_siteplan_svg{
    width: 1337px;
    height: 890px;
    /* height: 550px; */
    overflow: hidden;
    background-color: #71a45c;
}

.plusicon{
    cursor: pointer;
    background: url('../img/Icons/details_open.png') no-repeat right 0px center;
}

.minusicon{
    cursor: pointer;
    background: url('../img/Icons/details_close.png') no-repeat right 0px center;
}

.tab-content td,th{
    text-align: center;
}

.highlightN{
    background-color: red;
}

.highlightY{
    background-color: green;
}

#containers_layout_controls{
    position: absolute;
    top: 100px;
    left: 30px;
}