
@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2') ,
        url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Bold.otf')  format('opentype'),
           url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf')  format('truetype'), url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Light.otf')  format('opentype'),
           url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf')  format('truetype'), url('fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
	font-family: 'Gotham-Medium';
	src: url('fonts/Gotham Medium.eot');
	src: local('â˜º'), url('fonts/Gotham Medium.woff') format('woff'), url('fonts/Gotham Medium.ttf') format('truetype'), url('fonts/Gotham Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Book.otf')  format('opentype'),
           url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf')  format('truetype'), url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.fancybox-is-open .fancybox-bg{
    background-color: rgba(255,255,255) !important;
}
.fancybox-active{
    height: 1080px !important;
}
p{
    font-family: 'Gotham-Book';
}
.keymap{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 200px;
}
::-webkit-scrollbar{
    display: none;
    width: 0px;
}
    
.dataTables_scrollBody{
    overflow-y: overlay !important;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(72,118,43,1);
}

.dataTables_scrollBody::-webkit-scrollbar{
    width: 7px;
    display: block;
}

.box-shadow{
    height: 100%;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #58595b;
    padding: 5px;
    background-color: white;
}
.box-shadow > div{
    border: 1px solid #58595b;
}
#screen2_menu{
    position: fixed;
    top:0px;
    left: 0px; right: 0px;
    margin: 0px auto;
    text-align: center;
    z-index: 99999;
}

#screen2_menu>div{
    display: inline-block;
    padding: 5px 45px 5px 45px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    border: solid white 3px;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

html{
    overflow-y: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: scroll;
    background-image: url("../img/lyttonpark_bg.png");
    border: 15px solid #231f20;
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.container_main{
    width: calc( 1920px - 30px);
    height: calc( 1080px - 30px);
    margin: 0px;
    top:0;
    left: 0;
    padding: 0px;
    position: absolute;
}

.container_content{
    top: 0px;
    left: 0px;
    height: 916px; /* 1080 - footer height */
    padding-left: 15px;
    padding-right: 15px;
    /* width: 1830px; */
    margin: 0 auto;
    overflow-y:hidden;
}

.container_footer{    
    background-color: #48762b;
    position: absolute;
    width: calc( 1920px - 30px);
    height: 134px;
    bottom: 0px;
    left: 0px;
    font-size: 16.19px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    z-index: 0;
    box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
    display: flex;
    align-items: center;
}

#panel_lot_details{
    width: 500px;  
}

#container_selected_lot_details{
    width: 452px;
    height: 250px;
    margin-left: 15px;
    margin-bottom: -1px;
    
    padding-top: 25px;
    padding-left: 20px;
    
    font-size: 22.19px;
    font-family: "Open Sans";
    line-height: 3.2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: left;    
}

#container_selected_lot_details span{
    margin-left: 15px;
}
#container_selected_lot_details #lot_hidden{
    font-size: 70%;
    display: block;
    line-height: 0;
    color: #48762b;
    font-weight: bold;
}
#div_zslider{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 30px;
}

#div_zslider button{
    background-color: rgba(255, 255, 255, 0.6);
    color: #231f20;
    width: 45px;
    height: 45px;
    font-size: 28px;
    padding-top: 3px;
    
}

#btn_siteplanzoomout{
    margin-top: 5px;
    margin-left: 3px;   
}

#btn_siteplanreset{
    position: absolute;
    right: 35px;  
    bottom: 0px;
    padding: 4px;
    padding-top: 3px !important;
}

.zoomoutsvg{
    height: 35px;
    width: 30px;
    margin-top: -3px;
    pointer-events: none;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}


#screen1_template_productline, .screen2_template_container{
    display:none;
    /* margin-top: 30px; Custom horizontal gutter height */
}

#screen3_template_details{
    display:none;
    height: 856px;
    padding: 0px;
}

#screencompare{
    margin-top: 30px;
    margin-left: 15px;
}

.screencompare_template_container{
    display:none;
    height: 840px;
    padding: 0px; 
    z-index: 5;
}

.screencompare_details_container{
    /* position: absolute;
    bottom: 0px;
    left: 24px;
    height: 413px;  
    width: 875px; */
}

#compare1, #compare2{
    height: 856px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.compare_model_image{
    display: block;
    height: 190px; 
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.screen4_details{
    height: 848px;
    width: 477px;    
}
#screen4 > .row{
        /* height: 100%; */
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #58595b;
    padding: 5px;
    background-color: white;
}
.screen4_details{
    /* height: 100%; */
    /* box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #58595b;
    padding: 5px;
    background-color: white; */

}
.screencompare_images_container_template{
    display: none;
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;
    margin: 0 5px;
}

.screencompare_images_container{
    /* position: absolute;
    width: 875px;    
    height: 190px;
    bottom: 166px; */
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: whitesmoke;
    max-width: 875px;
}

.screen2_template_div_details{
    position: absolute;
    right: 15px;
    top: 0px;
    width: 160px;    
}

.screen3_template_div_info{
    padding-right: 0px; /* remove gutter */
    overflow-y: hidden;
    height: 856px;
}

.screen3_image_container{
   overflow: hidden;
}

.screen3_img_model{
    /* margin-top: -55px; */
    height: 393px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: background-image 0.6s ease-in-out;
    transition: background-image 0.6s ease-in-out;
}

#screen1_content{
    height: 100%;
    /* padding-left: 15px; */
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    min-height: 916px;
}

#screen2_content, #screensearch_content{
    height: calc(1080px - 30px - 134px);
    overflow-y: hidden;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#screensearch_content_top_row, #screensearch_content_bottom_row{
    display: flex;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: nowrap!important;
    flex-direction: row!important;
}

#screensearch_content{
    /* height: 946px; */
    /* width: 1578px; */
    width: 1430px;
    overflow-y: hidden;
    /* margin-top: -29px; */
    right: 15px;
    position: absolute;
}
#screensearch .screen2_template_container{
    flex: 0 0 65%;
    max-width: 65%;
}
#screensearch .screen2_template_container .screen2_container_title{
    font-size: 19px;
}
#screen3_content{
    background-color: white;
    background-clip: border-box;
    height: 856px;
    margin-top: 30px;
    padding: 0px;
    margin-left: 15px;
}

.container_footer_logos{    
    height: 134px;
    left: 30px;
}

.container_footer_design, .container_footer_compare, .container_footer_search
, .container_footer_back, .container_footer_homesites{
    padding: 0px;
    height: 52px;
    text-align: center;
    
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.container_footer_back{
    display: block;
    visibility: hidden;
    background-color: #231f20 !important;
    color: #fff !important;
    height: 54px;
    margin-left: 15px;
    margin-right: -15px;
    top: 40px;

}
.container_footer_back div{
    color: #fff;
}
.container_footer_disclaimer{
  height: 134px;
  font-size: 10px;
  font-family: "Open Sans";
  line-height: 1.2;
  text-align: left;
  bottom: 0px;
  text-transform: none;
  font-weight: normal;
    display: flex;
    align-items: center;
    color: #fff;
}


.footer_icon{
    width: 30px;
    height: 26px;
    margin-right: 5px;
}

.siteplan_icon{
    width: 40px;
    height: 40px;
}

th svg{
    margin-top: 10px;
    width: 35px;
    height: 35px;
}

.container_models{
    overflow: auto;
}

#logo_community{
    position: absolute;
    left: 15px;
    bottom: 30px;
    width: 180px;
}

#logo_seller{
    position: absolute;
    right: 25px;
    bottom: 30px;
}

#container_siteplan{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;   
}

#screensearch{
    height: calc(1080px - 30px - 134px);
    /* height: 856px; */
    width: 100%;
    /* padding: 30px 15px;     */
}

#screen4{
    z-index: 9999;
    height: 856px;
    width: 1860px;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* .container_compare_button{
    position: absolute;
    bottom: 200px;
    right: 30px;
} */

.compare_elevation_text{
    white-space: nowrap;
    margin-top: 5px;
    padding: 5px 0;
    display: block;
}

.comparesvg{
    width: 55px;
}

#div_filters_side_panel{
    /* margin-top: 30px; */
    z-index: 2231f20;
    top: 94px;
    left: 40px;
    height: 759px;
    width: 600px;
    max-width: 400px;
    /* height: 856px; */
    position: fixed;
    /* background-image: url("../img/background_body.png"); */
}

.div_filters_container{
    top: 30px;
    background-color: white;
    height: 100%;
}

.screen3_details_container{
    height: 413px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: 9998;
}

#filters_btn_clear{
    background-color: #231f20;
    color: white;
    border-width: 2px;
}

.screen3_template_div_floorplans{
    display:none;
    height: 856px;
    top: 0px;
    right: 0px;
    padding-left: 45px;
    max-width: 630px;
    background-clip:border-box;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    border: none !important;
}

.screencompare_template_div_floorplans{
    display:none;
    height: 421px;
    width: 291.5px;
    background-color: white;
    top: 0px;
    left: 0px;
    background-clip:border-box;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.screencompare_svg_floorplan{
    height: 100%;
    margin: 0 0;
    margin-top: 10px;
    max-width: 280px;
}

#screencompare_floorplans{
    /* height: 430px; */
    width: 874px;
    background-color: white;
    display:flex;
    position: absolute;
    bottom: 9px;
}

.screen3_svg_floorplan{
    height: 845px;
    margin-top: 15px;
    width: 580px;
    /* height: 856px; 
    margin: 0 auto; */
    max-width: 580px;
    min-width: 300px;
}

.screen1_template_div_details{
  background-color: white;
  position: absolute;
  right: 15px;
  top: 0px;
  width: 160px;
  height: 430px;
}

#screen1 .template_div_details_name_container{
    justify-content: center;
    padding: 0;
}
.template_div_details_name_container {
    background-color: rgb(180, 121, 21);
    /* position: absolute;
    right: 0px;
    top: 0px; */
    width: 100%;
    height: 50px;
    z-index: 1038;
    text-align: center;
}

.template_span_pl_name{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0;
  position: relative;

}

.template_div_details_divider {
    background-color: rgb(255, 255, 255);
    position: relative;   
    top: 63px;
    margin: 0 auto;
    width: 131px;
    height: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: white; 
    z-index: 1051;
}

.template_div_details_housetype{
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 70px;
    z-index: 90;
}

.nav-link{
    background-color: #ccdcba;
    padding: 15px;
    margin: 0 5px;
    width: 242px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.template_div_details_info_container{
    font-size: 16.16px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    text-align: left;    
    position: absolute;
    z-index: 200;  
    top: 145px;
    width: 100%;
    height: 286px;
    text-align: center;
}

a{
    color: #231f20;
}
a.activeMenu{
    background-color: #fff;  
    color: #231f20;
}

.screen1_container_icon_area, .screen1_container_icon_price{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 32px;
    height: 32px;
}

.screen1_container_row_text{
    position: absolute;
    left: 50px;
    top: 10px;
}

.screen2_container_icon_area, .screen2_container_icon_price, .screen2_container_icon_bathrooms, .screen2_container_icon_bedrooms{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 28px;
    height: 28px;
}

.screen2_container_row_text{
    position: absolute;
    left: 55px;
    top: 15px;
}

.screen2_container_models_bedrooms_text{
    position: absolute;
    left: 55px;
    top: 8px;
}

.template_div_details_info_container_center{
    width: 130px;
    margin: 0 auto;
    height: 100%;
}

.screen1_container_icon_button{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 76px;
    height: 76px;
}

.screen2_container_icon_button{
    position: relative;
    margin: 0 auto;
    width: 42px;
    height: 42px;
}

.template_span_pl_smalltext{
    font-size: 15px;
    margin: 0 8px;
}

/* .screen1_template_div_container_info_row{
    position: relative;
    margin-top: 0px;
} */

.screen2_template_div_container_info_row{
    position: relative;
    margin-top: 0px;
    height: 52px;
}

.screen2_first_row{
    margin-top: 10px;
}

.info-row-divider{
  width: 100%;
  left: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  position: absolute;
  height: 1px;
}

.filters-row-divider{
  width: 100%;
  left: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  position: relative;
  height: 1px;
}

.screen1_template_div_container_info_row_texttop{
    white-space: nowrap; 
    position: absolute;
    top: 25px;
    left: 55px;
}

.screen1_template_div_container_info_row_textbottom{
    position: absolute;
    top: 45px;
    left: 55px;
}

.template_container_icon_diamond{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 80;
}

.filters_label_title{
    font-size: 26px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
}

.filters_label{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 2;
    margin-left: 16px;
}

#screen4 .container_siteplan{
    position: absolute;
    right: 32px;
    width: 1337px;
}


#container_siteplan_svg{
    height: 848px;
    background-color: transparent;
}

.slider-selection{
    background: #d6d6d6;
}

.filters_container .slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '\2587'; /*unicode star character*/
    color: #231f20;
}

.datatable_available_models{
    width:468px;    
}

tr{
    background-color: #f0e4dc;
    line-height: 50px;
    border-color: #f0e4dc;
}

td{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: normal;
    text-align: left;
}

.siteplan_table_header{
    background-color: white;
}

.dataTables_wrapper{
    padding: 0px;
}

.screen3_pl_name_container{
    /* position: absolute;
    width: 180px;
    height: 100%;
    background-color: grey; */
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
}

.screencompare_pl_name_container{
    /* position: absolute;
    width: 179px;
    height: 100%; */
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 50px;
}

.screencompare_span_pl_name{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -ms-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
}

/* .screen3_span_pl_name{
  font-size: 120px;
  font-family: "playfair_displayregular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0;
  left: 15px;
  top: 65px;
  position: relative;
  -ms-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
} */

.screen3_div_details_housetype{
    height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 74px;
    z-index: 90;
}

/* Accordion css */
.slideaccordion {
    left:0px;
    display: inline-block;
    position: absolute;
    width: 615px;
    height: 413px;
}

.slideaccordion .screen3_template_accitem {
    background-color: #58595b;
    color: #fff !important;
    display: none;
    transition: 0.6s ease-in-out all;
    overflow: hidden;
    position: relative;
    /* height: 413px; */
    /* width: 120px;
    max-width: 70px; */
    top: 0px;
    z-index: 999;
    text-align: center;
    margin-bottom: 8px;
    width: 300px;
    z-index: 999999;
    height: auto;
    /* box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3); */
}

/* Vertical item titles */
.slideaccordion .slideaccordion_title {  
    color: #fff !important;  
    /* position: absolute;
    font-size: 22.78px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 20px;
    height: 413px;
    padding: 0px;
    left: 22px;
    top: 68px; */

    /* position: absolute; */
    font-size: 22.78px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg); */
    text-transform: uppercase;
    /* width: 20px; */
    /* height: 413px; */
    padding: 0px;
    /* left: 87px; */
    top: 0px;

}

.screen3_elevs_content{
    background-color: #fff;
    /* position: absolute; */
    display: flex;
    width: 40%;
    height: auto;
    margin-right: 15px;
    top: 0px;
    /* height: 413px; */
    vertical-align: top;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
    padding: 15px;
    justify-content: flex-end;
    float: right;
    /* flex-direction: column; */
    /* white-space: nowrap;
    justify-content: flex-start;
    align-items: flex-end; */
}
.screen3_elevs_content > p{
    /* z-index: 999;
    text-align: left;
    padding: 15px 0 5px 0;
    width: auto;
    margin-bottom: 12px; */
    margin-right: 15px;
    margin-bottom: 0;
    font-weight: 600;
    
}
/* .screen3_template_accitem.active .screen3_template_accitem_top_container .slideaccordion_title{
    color: #231f20 !important;
} */

.screen3_template_center_container{
    /* position: relative;
    height: auto;
    width: auto;
    z-index: 2231f20; */
}

.screen3_template_accitem_top_container{
    /* width: 130px; */
    padding: 0px 5px;
    /* white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 413px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    max-width: 168px;
    z-index: 4231f20; */
}
.screencompare_details_container .screen3_template_accitem_content_container{
    display: flex;
    transition-timing-function: ease;
    transition: all .2s;
    /* padding: 15px 40px 0; */
    opacity: 1;
    position: initial;
    font-size: 29.15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase; 
    width: 100%;
    height: initial;  

 
}
.screencompare_template_container .screen3_template_accitem_content_container {
    position: initial;
    width: initial;
    height: initial;
    float: initial;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    FLEX-DIRECTION: row;
}
.screen3_template_accitem_content_container{
    display: block;
    position: absolute;
    transition-timing-function: ease;
    transition: all .2s;
    /* padding: 15px 40px 0; */
    /* height: 413px; */
    height: 413px;
    /* width: 615px; */
    width: 50%;
    opacity: 1;
    /* left: 0px;
    top: 0px; */
    font-size: 27px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;   
    float: left; 
    /* padding-left: 15px; */
    padding-top: 15px;
    /* top: 98px; */
    top: 0;
    left: 0;
    box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.08)
}

.screencompare_template_accitem_content_container{
    position: absolute;
    height: 413px;
    left: 0px;
    width: 875px;
    
    font-size: 29.15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;    
}

.screen3_div_divider{
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;   
    left: 10px;
    top: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
    height: 130px;
    border-style: solid;
    border-width: 1px;
    border-color: white; 
    z-index: 1051;
}

.screencompare_details_container .screen3_container_icon_bedrooms,.screencompare_details_container .screen3_container_icon_price,
.screencompare_details_container .screen3_container_icon_bathrooms,.screencompare_details_container .screen3_container_icon_area{
    align-items: center;
    display: flex;
    padding: 0 15px;
    width: auto;
    float: none;

}

.screen3_container_icon_bedrooms, .screen3_container_icon_price, .screen3_container_icon_bathrooms, .screen3_container_icon_area{
    display: flex;
    align-items: center;
    margin: 15px 30px;
    padding: 0 15px;
    /* float: left;
    width: 40%; */
}

.screen3_wrapper_area, .screen3_wrapper_bedrooms{
    display: inline-block;
}

.screen3_container_icon_bathrooms svg, .screen3_container_icon_price svg, .screen3_container_icon_area svg, .screen3_container_icon_bedrooms svg{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.screencompare_template_container .screen3_wrapper_homesites{
    position: initial;
    left: initial;
    width: initial;
    bottom: initial
}
.screen3_wrapper_homesites{
    position: absolute;
    padding: 8px;
    /* left: 450px; */
    /* width: 150px;
    height: 54px; */
    /* top: 20px; */
    bottom: 0px;
    width: 50%;
    font-size: 19px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.3;
    font-family: "Gotham-Medium";
    /* box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.3); */
}

.screen3_container_homesites{
     /* position: absolute;
    left: 15px;
    top: 0px; 
    font-weight: bold;
    color: white;
    max-width: 125px; 
    text-align: center;
    line-height: 1.3;
    font-family: "Gotham-Medium";
    padding: 5px; */
    /* DISPLAY: FLEX;
    flex-direction: initial;
    align-items: center;
    justify-content: center; */
    margin-bottom: 0;

}
.screen3_container_homesites i{
    margin-left: 15px;
    font-size: 20px;
    position: relative;
    top: -10px;
}
.screen3_container_icon_button{
    position: absolute;
    right: 13px;
    top: 8px;
    width: 35px;
    height: 35px;
}

.screen3_wrapper_option{
    display: none;
    position: absolute;
    left: 24px;
    width: 240px;
    height: 50px;
    top: 376px;
}
.screen3_elevs_content .screen3_wrapper_option{
    left: 0px !important;
    top: 250px !important;
}
.screen3_container_option{
    position: absolute;    
    font-size: 14.25px;
    left: 15px;
    top: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
}

.screen3_container_option_icon{
    position: absolute;
    right: 13px;
    top: 8px;
    width: 35px;
    height: 35px;
}

.screen3_corner{
    transform: rotate(-90deg) !important;
    width: 168px !important;
    top: 0px !important;
    left: 12px !important;
}

.col-sm-12{
    padding: 0px;
}

#homesites_image{
    max-width:484px;
    width: 477px;
    /* margin-left: -15px; */
}

thead, th , td{
    text-align: center;
}

.siteplan_table_header object{
    padding-top: 16px;
}

th{
    background-color: white;
}

#homesites_model_container{
    width: 477px;
    height: 170px;
    /* margin-left: 18px;
    margin-bottom: -1px; */
    position: absolute;
    display: block;
    flex-direction: row;
}

#homesites_name_container{
    /* position: absolute;
    width: 70px;
    height: 170px;
    left:39px; */
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 50px;
}

#homesites_name_container #homesites_pl_name{
    font-family: 'Gotham-Book';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-size: 18px;
    letter-spacing: 5px;
    margin: 0;
}
.homesites_info_container{
    /* height:170px;
    width: 385px;
    position: absolute;
    left: 117px; */
    /* display: flex;
    flex-direction: row; */
}

.homesites_info_container > div{
    height: 30px;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 0 15px;
    float: left;
    width: 40%;
    /* position: absolute;
    left: 35px;
    top: 70px; */
}
.homesites_info_container svg{
    width: 30px;
    height: 30px; 
    margin-right: 15px;
}
.homesites_wrapper_area{
    /* position: absolute;
    left: 85px;
    top: 75px; */
}

.homesites_container_area, .homesites_container_icon_bathrooms, .homesites_container_icon_price, .homesites_container_icon_bedrooms{
    font-size: 27px;
    font-weight: 600;
    font-family: "Gotham-Medium";

}

.homesites_span_pl_smalltext_area{
    margin-left: 0px;
    font-family: "Gotham-Medium";
    font-size: 60%;
    position: relative;
    top: -8px;
}

.homesites_container_bedrooms{
    position: relative;
    margin: 0px;
}

.homesites_span_pl_smalltext_bedrooms{
    position: relative;
    margin-left: 5px;
    font-size: 13.25px;
    font-family: "Open Sans";
    font-weight: bold;
}

.homesites_container_name{
    height: 20px;
    font-size: 19px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 32px;
    margin-top: 9px;
    word-wrap: break-word;
    width: 285px;
    line-height: 1;
}

#homesites_floorplans{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    padding: 5px;
    height: 45px;
    width: 110px;
    position: absolute;
    right: -13px;
    top: 25px;
    text-align: center;
}

.search_group_pl, .search_group_bedrooms, .search_group_bathrooms{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 30px;
}

.search_group_pl .search_btn_option{
    width: 90px;
}

.search_group_bathrooms .search_btn_option{
    width: 62px;
}

.search_group_bedrooms .search_btn_option{
    width: 62px;
}

.search_btn_option{
    /* height: 66px; */
    background-color: white;
    color: #231f20;   
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    /* padding-top: 28px; */
    padding: 16px 8px;
    line-height: 1;
    border-color: #231f20;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.search_btn_option.activeButton{
    background-color: #231f20;  
    color: white;
    border-color: #231f20;
}

.filters_container{
    /* border-style: solid;
    border-width: 0.5px;
    border-color: #231f20; */
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 0px 8px;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
}

.filters_max_container{
    position: relative;
    margin-top: -18px;
    text-align: right;
}

.slider{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;  
    width: 310px !important;  
}

#div_zslider .slider-handle.custom::before {    
    font-size: 20px;
    content: '\2583'; /*unicode block */
    color: #231f20;    
}

.slider.slider-vertical .slider-handle{
    margin-top: -15px;  
}

.filters_sqft_container{
    margin-top: 20px;
}

.filters_clear_counter_container{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.filters_clear_counter_container div{
    width: 50%;
}


.popover{
    max-width: 100%;
    width: 500px;
}

.popover-header{
    font-size: 4em;
}

#compare1_replace, #compare2_replace, .compare_backdrop{
    display: none;
    position: absolute;
    
    top: 0px;
    left: 15px;
    width: 890px;
    height: 856px;    
    z-index: 9999;
    
    color: white;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding-top: 250px;
    background-color: rgba(0, 70, 126, 0.6);
}

.compare_backdrop{
    display: block;
    z-index: 1;
}

#compare1_replace img , #compare2_replace img, .compare_backdrop  img{
    width: 30%;
    margin-top: 60px;
}

#compare1_replace span , #compare2_replace span{
    display: block;
}

.panel_siteplan_info{
    background-color: rgb(223, 229, 242);
    height: 100%;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-left: -15px; */
}

.panel_siteplan_info img{
    width: 50%;
    margin-top: 50px;
}

#panel_siteplan{
    display: none;
}

#panel_lot_available_lots{
    margin-top: 110px;
    
}
#panel_lot_available_models .dataTables_scrollBody table tbody td{
    line-height: 1.4;
    padding: 10px 0;
}

#panel_lot_available_models table.dataTable thead .sorting:before, #panel_lot_available_models table.dataTable thead .sorting:after, #panel_lot_available_models table.dataTable thead .sorting_asc:before, #panel_lot_available_models table.dataTable thead .sorting_asc:after, #panel_lot_available_models table.dataTable thead .sorting_desc:before, #panel_lot_available_models table.dataTable thead .sorting_desc:after, #panel_lot_available_models table.dataTable thead .sorting_asc_disabled:before, #panel_lot_available_models table.dataTable thead .sorting_asc_disabled:after, #panel_lot_available_models table.dataTable thead .sorting_desc_disabled:before, #panel_lot_available_models table.dataTable thead .sorting_desc_disabled:after{
    bottom: 0.9em;
}
path.pulse-svg, polygon.pulse-svg, rect.pulse-svg{
    -webkit-animation: pulsate 1.5s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    fill-opacity: 0.0;
}

@keyframes pulsate {
    0% {opacity: 0.0; fill-opacity: 0.0;}
    50% {opacity: 0.9; fill-opacity: 1;}
    100% {opacity: 0.0; fill-opacity: 0.0;}
}

#datatable_available_lots tr.selected{
    background-color: #ada095;
}

#filters_count{
    border: none !important;
}

.screen_idle {
    z-index: 99999;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.screen_idle_tap {
    z-index: 999999;
    width: 200px;
    position: absolute;
    bottom: 50px;
    right: 200px;
}

#compare_container_clear{
    position: absolute;
    left: 910px;
    bottom: 150px;
    z-index: 99999;
}

.compare_btn_reset{
    height: 50px;
    background-color: #231f20;
    color: white;   
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    border-color: white;
    border-width: 2px;
    padding-top: 5px;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    width: 100px;
}

.screen2_arrow{
    /* display: none; */
    position: fixed;
    color: #231f20;
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
    width: 70px;
    padding-top: 355px;
    font-size: 9em;
    text-align: center;
    z-index: 99999;
}

.screen2_leftarrow{
    left: 0px;    
    display: none;
}

.screen2_rightarrow{
    right: 0px;
}

        /* UPDATED CSS CONTENT */
        /* SCREEN #1 CHANGES */
        #model_image_other_elevations_content{
            margin-top: 10px;
        }
        #model_image_other_elevations_content span{
            position: absolute;
            bottom: 5px;
            left: 5px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Gotham-Bold';
            line-height: 1;

        }
        #model_image_other_elevations_content > div div{
            display: inline-block;
            position: relative;
            width: 48%;
            margin: 1%;
        }
        /* #model_image_other_elevations_content img{
            display: inline-block;
            width: 48%;
            margin: 1%;
            height: 150px;
        } */
        .content{
            margin: 0;
            /* height: 100% */
        }   
        .content p{ margin: 0; }
        .header{
            height: 81px !important;
            position: relative;
        }
        .header p{

            text-transform: uppercase;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 30px;
            letter-spacing: 10px;
            margin-bottom: 0;
        }
        .header_title{ 
            font-size: 26px;
            letter-spacing: 2px;
        }
        .header_text{ font-family: 'Gotham-Light'; }
        .emphasize{
            /* margin-right: 20px; */
            font-weight: bold;
            color: white;
        }
        .emphasize2{
            font-size: 30px;
            margin-right: 20px;
            color: white;
        }
        .display_diamond {
            position: absolute;
            bottom: -20px;
            left: 30px;
            z-index: 10;
        }
        .header_30{ background-color: #e3c400 }
        .header_36{ background-color: #e6921a }
        .header_town{ background-color:  #bf2abc }
        .category{
            display: inline-block;
            width: 33%;
            padding: 5px 10px;
            margin-top: 15px;
            vertical-align: top;
        }
        
        .price p, .size p, .bed p, .bath p { 
            margin: 0; 
            padding: 5px 0;
            /* background: #f5f5f5; */
            font-size: 27px;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            align-items: center;
            /* padding-left: 15px; */
        }
        .price_icon, .size_icon{
            width: 25px;
            margin: 0 15px 0 15px;
            height: auto;
            padding: 25px 0px;
        }
        .image_container{ position: relative;}
        .image_container_style_name {
            position: absolute;
            bottom: 5px;
            z-index: 30;
            color: white;
            left: 5px;
            font-family: 'Gotham-Bold';
            line-height: 1;
        }
        .button{
            position: absolute;
            bottom: -39px;
            right: 35px;
            width: 70px;        
            height: auto;
            z-index: 10;
        }
        .btn-view{
            background-color: #58595b;
            color: #fff;
            font-size: 24px;
            font-family: 'Gotham-Book';
            padding: 5px;
        }
        .template_span_pl_name {
            font-family: 'Gotham-Book';
            /* top: 0; */
        }
        .screen1_coin_icon, .screen1_area_icon, .screen1_bed_icon, .screen1_bath_icon  {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background-position: center bottom !important;
            margin-right: 25px;
        }
        .screen1_coin_icon { background: url(../img/Icons/coin.svg); }
        .screen1_area_icon { background: url(../img/Icons/area.svg); }
        .screen1_bed_icon { background: url(../img/Icons/bed.svg); }
        .screen1_bath_icon { background: url(../img/Icons/bathtub.svg); }
        .screen1_template_div_container_info_row {
            /* padding: 20px 0 30px 0; */
            padding: 15px;
            background: #fff;
        }
        #screen1_content{
            /* height: 930px;
            width: 100%;
            margin-left: 300px;*/
            display: flex;
            flex-flow: column-reverse;
            flex-direction: row !important; 
        }
        .screen2_span_models_priceMin .template_span_pl_smalltext,
        .screen2_span_models_sizeMin .template_span_pl_smalltext {
            font-size: 9px;
            position: initial;
        }
        .screen2_span_models_priceMin span, .screen2_span_models_sizeMin span, .screen2_span_models_sizeMax span{
            font-size: 60%;
            position: relative;
            top: -8px;
        }
        /* SCREEN #2 CHANGES */
        /* .screen2_template_container { height: 856px; min-width: 472.5px } */
        .screen2_template_container .box-shadow > div {
            display: flex;
        }
        
        .model_image{
            /* margin-top: 135px; */
            width: 100%;
            height: auto;
        }
        .template_div_details_name_container {
            display: flex;
            align-items: center;
            padding: 0 40px;
        }
        .template_div_details_name_container  img{
            width: 50%;
            display: inline-block;
        }
        .screen2_content_container .row{
            padding: 25px;
        }
        .screen2_content_container{
            margin: 0;
            width: 50%;
            /* height: 494px;
            background: #f5f5f5; */
        }
        .screen2_content_icon img{
            width: 20px;
            margin-right: 25px;
            /* Percentage used over pixels to maintain offset ratio of bootstrap columns */
            /* margin-left: 6.33%;  */
        }
        .screen2_template_container { background-color: rgba(0, 0, 0, 0.0);}
        #screen2_content_bottom_row .screen2_template_container{ margin-top: 30px}
        .screen2_template_container .box-shadow {height: auto}
        .screen2_template_container .image_container{width: 50%;}
        .screen2_housetype_title{
            font-size: 30px;
            font-family: "Gotham-Light";
            font-weight: 100;
            color: #231f20;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
            position: initial;
            margin: 15px;
            top: 0px;
            z-index: 0;
        }
        .screen2_container_title{
            line-height: 1;
            font-size: 23px;
            letter-spacing: 5px;
            margin: 0;
        }
        .screen2_content_title { padding: 30px 10px 0px 10px; }
        .screen2_lot_size {
            top: 0 !important;
        }
        

        /* SCREEN 3 CHANGES  */
        .small_thumbnail_wrapper div:not(.available) {
            display: none !important;
        
        }
        .container_compare_button {
            position: absolute;
            bottom: 124px;
            /* left: 260px; */
            bottom: 424px;
            right: 15px;
            z-index: 9999;
            background: rgba(88, 89, 91, .7);
            padding: 6px;
        }

        .screen3_container_area, 
        .screen3_container_bathrooms, 
        .screen3_container_price,
        .screen3_container_bedrooms{
            font-size: 27px;
            font-weight: 600
        }

        .screen3_span_pl_name{
            line-height: 1;
            font-size: 23px;
            letter-spacing: 5px;
            margin: 0;
            font-family: 'Gotham-Book';
            text-transform: uppercase;
            color: #fff;
        }

        .screencompare_span_pl_name{
            font-family: 'Gotham-Book';
            line-height: 1;
            font-size: 23px;
            letter-spacing: 5px;
            margin: 0;
        }
        .screen3_span_pl_smalltext_area {
            margin-left: 0px;
            font-family: "Gotham-Book";
            font-size: 60%;
            position: relative;
            top: -8px;
        }

        .screen3_container_icon_homesites {
            width: 45px;
            height: 45px;
            position: absolute;
            left: 420px;
            top: 20px;
        }


        /* SEARCH SCREEN CHANGES */
        .search_screen_template_container {
            display: none;
            background-clip: content-box;
            background-color: rgba(0, 0, 0, 0.4);
            height: 430px;
            margin-top: 30px;
            overflow-y: hidden;
        }

        .search_screen_template_div_details_name_container{
            height: 145px !important;
        }

        .search_screen_divider{
            margin-top: 10px;
        }

        .search_screen_house_type{
            color: white !important;
        }

        /* COMPARE SCREEN */
        .screencompare_details_container .screen3_container_icon_area,  .screencompare_details_container .screen3_container_icon_price,
        .screencompare_details_container .screen3_container_icon_bathrooms,.screencompare_details_container .screen3_container_icon_bedrooms{
            /* position: absolute;
            top: 9px;
            height: 413px; */
            margin: 0;
        }

        .screencompare_images_container {
            /* position: absolute;
            height: 190px;
            top: 200px;
            bottom: 0;
            z-index: 2; */
        }

        #screencompare_floorplans {
            /* position: absolute;
            top: 380px; */
        }

        .screencompare_template_container {
            background-color: white;
        }

        .screen3_container_area, 
        .screen3_container_bathrooms, 
        .screen3_container_price, 
        .screen3_container_bedrooms {
            font-family: "Gotham-Medium";
        }

        .compare_elevation_text {
            font-family: "Gotham-Medium";
        }

        .search_btn_option {
            font-family: "Gotham-Medium";
        }

        .filters_label {
            font-family: "Gotham-Medium";
        }

        .filters_label_title {
            font-size: 26px;
            font-family: "Gotham-Medium";
            text-transform: uppercase;
            margin-left: 15px;
        }
        .smalltext_search{
            font-size: 9px;
        }

        /* SITEPLAN */
        #div_zslider .slider-handle.custom::before {
            font-size: 20px;
            content: '\2583';
            color: #48762b;
        }