
@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2') ,
        url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Bold.otf')  format('opentype'),
           url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf')  format('truetype'), url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Light.otf')  format('opentype'),
           url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf')  format('truetype'), url('fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
	font-family: 'Gotham-Medium';
	src: url('fonts/Gotham Medium.eot');
	src: local('☺'), url('fonts/Gotham Medium.woff') format('woff'), url('fonts/Gotham Medium.ttf') format('truetype'), url('fonts/Gotham Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/Gotham-Book.otf')  format('opentype'),
           url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf')  format('truetype'), url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
  }
::-webkit-scrollbar{
    display: none;
    width: 0px;
}
    
.dataTables_scrollBody{
    overflow-y: overlay !important;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}

.dataTables_scrollBody::-webkit-scrollbar{
    width: 7px;
    display: block;
}

.box-shadow{
    height: 100%;
    box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.2);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.2);
}

#screen2_menu{
    position: fixed;
    top:0px;
    left: 0px; right: 0px;
    margin: 0px auto;
    text-align: center;
    z-index: 99999;
}

#screen2_menu>div{
    display: inline-block;
    padding: 5px 45px 5px 45px;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    border: solid white 3px;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

html{
    overflow-y: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: scroll;
    background-image: url("../img/background_body.png");
}

.container_main{
    width: 1920px;
    height: 1080px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.container_content{
    top: 0px;
    left: 0px;
    height: 946px; /* 1080 - footer height */
    padding-left: 15px;
    padding-right: 15px;
    overflow-y:hidden;
}

.container_footer{    
    background-color: #f5f5f5;
    position: absolute;
    width: 1920px;
    height: 134px;
    bottom: 0px;
    left: 0px;
    font-size: 16.19px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 0.3);
}

#panel_lot_details{
    width: 500px;  
}

#container_selected_lot_details{
    width: 452px;
    height: 250px;
    margin-left: 15px;
    margin-bottom: -1px;
    
    padding-top: 25px;
    padding-left: 20px;
    
    font-size: 22.19px;
    font-family: "Open Sans";
    line-height: 3.2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: left;    
}

#container_selected_lot_details span{
    margin-left: 15px;
}
#container_selected_lot_details #lot_hidden{
    font-size: 70%;
    display: block;
    line-height: 0;
    color: #f32f3e;
    font-weight: bold;
}
#div_zslider{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 30px;
}

#div_zslider button{
    background-color: rgba(255, 255, 255, 0.6);
    color: #231f20;
    width: 45px;
    height: 45px;
    font-size: 28px;
    padding-top: 3px;
    
}

#btn_siteplanzoomout{
    margin-top: 5px;
    margin-left: 3px;   
}

#btn_siteplanreset{
    position: absolute;
    right: 35px;  
    bottom: 0px;
    padding: 4px;
    padding-top: 3px !important;
}

.zoomoutsvg{
    height: 35px;
    width: 30px;
    margin-top: -3px;
    pointer-events: none;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

#screen1_template_productline, .screen2_template_container{
    display:none;
    margin-top: 30px; /* Custom horizontal gutter height */
}

#screen3_template_details{
    display:none;
    height: 886px;
    padding: 0px;
}

#screencompare{
    margin-top: 30px;
    margin-left: 15px;
}

.screencompare_template_container{
    display:none;
    height: 886px;
    padding: 0px; 
    z-index: 5;
}

.screencompare_details_container{
    position: absolute;
    bottom: 0px;
    left: 15px;
    height: 168px;  
    width: 918px;
}

#compare1, #compare2{
    height: 886px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.compare_model_image{
    display: block;
    height: 170px; 
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.screen4_details{
    height: 886px;
    width: 485px;
    margin-right: 15px;    
}

.screencompare_images_container_template{
    display: none;
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;
}

.screencompare_images_container{
    position: absolute;
    width: 918px;    
    height: 190px;
    bottom: 166px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: white;
}

.screen2_template_div_details{
    position: absolute;
    right: 15px;
    top: 0px;
    width: 160px;    
}

.screen3_template_div_info{
    padding-right: 0px; /* remove gutter */
    overflow-y: hidden;
    height: 886px;
}

.screen3_image_container{
   overflow: hidden;
}

.screen3_img_model{
    margin-top: -55px;
    height: 886px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.6s ease-in-out;
    transition: background-image 0.6s ease-in-out;
}

#screen1_content{
    height: 100%;
    padding-left: 15px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    min-height: 930px;
}

#screen2_content, #screensearch_content{
    height: 946px;
    overflow-y: hidden;
    margin-top: 0px;
}

#screensearch_content_top_row, #screensearch_content_bottom_row{
    display: flex;
    margin-right: 0px;
    flex-wrap: nowrap!important;
    flex-direction: row!important;
}

#screensearch_content{
    height: 946px;
    width: 1578px;
    overflow-y: hidden;
    /* margin-top: -29px; */
    right: 15px;
    position: absolute;
}

#screen3_content{
    background-color: white;
    background-clip: border-box;
    height: 886px;
    margin-top: 30px;
    padding: 0px;
    margin-left: 15px;
}

.container_footer_logos{    
    height: 134px;
    left: 30px;
}

.container_footer_design, .container_footer_compare, .container_footer_search
, .container_footer_back, .container_footer_homesites{
    padding: 0px;
    height: 134px;
    left: -70px;
    text-align: center;
    
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.container_footer_back{
    display: block;
    visibility: hidden;
    background-color: #231f20;
    height: 54px;
    margin-left: 15px;
    margin-right: -15px;
    top: 40px;

}
.container_footer_back div{
    top: 13px;
    color: #fff;
}
.container_footer_disclaimer{
  height: 134px;
  font-size: 10px;
  font-family: "Open Sans";
  line-height: 1.2;
  text-align: left;
  bottom: 0px;
  text-transform: none;
  font-weight: normal;
}

.container_footer_disclaimer>span{
  position: absolute;
  padding-right: 30px;
  bottom: 30px;
}

.footer_icon{
    width: 30px;
    height: 26px;
}

.siteplan_icon{
    width: 40px;
    height: 40px;
}

th svg{
    margin-top: 10px;
    width: 35px;
    height: 35px;
}

.container_models{
    overflow: auto;
}

#logo_community{
    position: absolute;
    left: 15px;
    bottom: 30px;
}

#logo_seller{
    position: absolute;
    right: 25px;
    bottom: 30px;
}

#container_siteplan{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;   
}

#screensearch{
    height: 886px;
    width: 100%;
    /* padding: 30px 15px;     */
}

#screen4{
    z-index: 9999;
    height: 1080px;
    width: 1920px;
}

.container_compare_button{
    position: absolute;
    bottom: 200px;
    right: 30px;
}

.compare_elevation_text{
    white-space: nowrap;
    margin-top: 5px;
}

.comparesvg{
    width: 200px;
    height: 200px;
}

#screen2_content_top_row, #screen2_content_bottom_row{
    padding-left: 15px;
}

#div_filters_side_panel{
    margin-top: 30px;
    z-index: 2000;
    top: 0px;
    left: 0px;
    height: 886px;
    position: fixed;
    background-image: url("../img/background_body.png");
}

.div_filters_container{
    top: 30px;
    background-color: white;
    height: 100%;
}

.screen3_details_container{
    height: 168px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: 9999;
}

#filters_btn_clear{
    background-color: #000;
    color: white;
    border-width: 2px;
}

.screen3_template_div_floorplans{
    display:none;
    height: 886px;
    top: 0px;
    right: 0px;
    padding-left: 45px;
    max-width: 630px;
    background-clip:border-box;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.screencompare_template_div_floorplans{
    display:none;
    height: 518px;
    width: 300px;
    background-color: white;
    top: 0px;
    left: 0px;
    background-clip:border-box;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.screencompare_svg_floorplan{
    height: 500px;
    margin: 0 0;
    margin-top: 18px;
    max-width: 280px;
}

#screencompare_floorplans{
    height: 546px;
    width: 918px;
    background-color: white;
    display:flex;
}

.screen3_svg_floorplan{
    height: 830px;
    margin-top: 30px;

    /* height: 886px; 
    margin: 0 auto; */
    max-width: 580px;
    min-width: 300px;
}

.screen1_template_div_details{
  background-color: white;
  position: absolute;
  right: 15px;
  top: 0px;
  width: 160px;
  height: 430px;
}

.template_div_details_name_container {
    background-color: rgb(180, 121, 21);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 145px;
    z-index: 1038;
    text-align: center;
}

.template_span_pl_name{
  font-size: 95px;
  font-family: "playfair_displayregular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0;
  position: relative;
  top: 60px;
  -ms-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
}

.template_div_details_divider {
    background-color: rgb(255, 255, 255);
    position: relative;   
    top: 63px;
    margin: 0 auto;
    width: 131px;
    height: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: white; 
    z-index: 1051;
}

.template_div_details_housetype{
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 70px;
    z-index: 90;
}

.container_footer_compare_iconstext{
    position: absolute;
    top: 51px;
    left: 19px;
}

.container_footer_compare_iconstext span{
    position: absolute;
    left: 40px;
    top: 1px;
}

.container_footer_homesites_iconstext{
    position: absolute;
    top: 51px;
    left: 12px;
}

.container_footer_homesites_iconstext span{
    position: absolute;
    left: 34px;
    top: -3px;
    line-height: 1.2;
    display: inline-block;
    width: 85px;
}

.container_footer_iconstext{
    position: absolute;
    top: 51px;
    left: 30px;
}

.container_footer_iconstext span{
    position: absolute;
    left: 40px;
    top: 1px;
}

.template_div_details_info_container{
    font-size: 16.16px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    text-align: left;    
    position: absolute;
    z-index: 200;  
    top: 145px;
    width: 100%;
    height: 286px;
    text-align: center;
}

a{
    color: #231f20;
}
a.activeMenu{
    background-color: #f32f3e;  
    color: white;
}

.screen1_container_icon_area, .screen1_container_icon_price{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 32px;
    height: 32px;
}

.screen1_container_row_text{
    position: absolute;
    left: 50px;
    top: 10px;
}

.screen2_container_icon_area, .screen2_container_icon_price, .screen2_container_icon_bathrooms, .screen2_container_icon_bedrooms{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 28px;
    height: 28px;
}

.screen2_container_row_text{
    position: absolute;
    left: 55px;
    top: 15px;
}

.screen2_container_models_bedrooms_text{
    position: absolute;
    left: 55px;
    top: 8px;
}

.template_div_details_info_container_center{
    width: 130px;
    margin: 0 auto;
    height: 100%;
}

.screen1_container_icon_button{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 76px;
    height: 76px;
}

.screen2_container_icon_button{
    position: relative;
    margin: 0 auto;
    width: 42px;
    height: 42px;
}

.template_span_pl_smalltext{
    font-size: 15px;
}

/* .screen1_template_div_container_info_row{
    position: relative;
    margin-top: 0px;
} */

.screen2_template_div_container_info_row{
    position: relative;
    margin-top: 0px;
    height: 52px;
}

.screen2_first_row{
    margin-top: 10px;
}

.info-row-divider{
  width: 100%;
  left: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  position: absolute;
  height: 1px;
}

.filters-row-divider{
  width: 100%;
  left: 0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  position: relative;
  height: 1px;
}

.screen1_template_div_container_info_row_texttop{
    white-space: nowrap; 
    position: absolute;
    top: 25px;
    left: 55px;
}

.screen1_template_div_container_info_row_textbottom{
    position: absolute;
    top: 45px;
    left: 55px;
}

.template_container_icon_diamond{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 80;
}

.filters_label_title{
    font-size: 26px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
}

.filters_label{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 2;
    margin-left: 15px;
}

#screen4 .container_siteplan{
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 999999;
    width: 1920px;
    height: 1080px;
}


#container_siteplan_svg{
    height: 1080px;
    width: 1920px;
    background-color: transparent;
}

.slider-selection{
    background: #d6d6d6;
}

.filters_container .slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '\2587'; /*unicode star character*/
    color: #000;
}

.datatable_available_models{
    width:468px;    
}

tr{
    background-color: #f0e4dc;
    line-height: 50px;
    border-color: #f0e4dc;
}

td{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: normal;
    text-align: left;
}

.siteplan_table_header{
    background-color: white;
}

.dataTables_wrapper{
    padding: 0px;
}

.screen3_pl_name_container{
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: grey;
}

.screencompare_pl_name_container{
    position: absolute;
    width: 179px;
    height: 100%;
}

.screencompare_span_pl_name{
  font-size: 100px;
  font-family: "playfair_displayregular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0;
  left: 35px;
  top: 78px;
  position: relative;
  -ms-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
}

.screen3_span_pl_name{
  font-size: 120px;
  font-family: "playfair_displayregular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0;
  left: 15px;
  top: 65px;
  position: relative;
  -ms-font-feature-settings: "case" on;
  font-feature-settings: "case" on;
}

.screen3_div_details_housetype{
    height: 20px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.443;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 74px;
    z-index: 90;
}

/* Accordion css */
.slideaccordion {
    left:180px;
    display: inline-block;
    position: absolute;
    width: 908px;
    height: 168px;
}

.slideaccordion .screen3_template_accitem {
    display: none;
    transition: 0.6s ease-in-out all;
    overflow: hidden;
    position: relative;
    height: 168px;
    width: 50px;
    max-width: 50px;
    padding: 0px;
    top: 0px;
}

/* Vertical item titles */
.slideaccordion .slideaccordion_title {    
    /* position: absolute;
    font-size: 22.78px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 20px;
    height: 168px;
    padding: 0px;
    left: 22px;
    top: 68px; */

    position: absolute;
    font-size: 22.78px;
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(255, 255, 255);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-transform: uppercase;
    width: 20px;
    height: 168px;
    padding: 0px;
    left: 87px;
    top: 0px;
}

.screen3_elevs_content{
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 168px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

.screen3_template_center_container{
    position: relative;
    height: auto;
    width: auto;
    z-index: 2000;
}

.screen3_template_accitem_top_container{
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 168px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    max-width: 168px;
    z-index: 4000;
}

.screen3_template_accitem_content_container{
    display: inline-block;
    position: relative;
    transition-timing-function: ease-in-out;
    transition: width 0.6s;
    height: 168px;
    width: 0px;
    
    font-size: 29.15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;    
}

.screencompare_template_accitem_content_container{
    position: absolute;
    height: 168px;
    left: 180px;
    width: 750px;
    
    font-size: 29.15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #231f20;
    text-transform: uppercase;    
}

.screen3_div_divider{
    background-color: rgb(255, 255, 255);
    position: absolute;   
    left: 10px;
    top: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
    height: 130px;
    border-style: solid;
    border-width: 1px;
    border-color: white; 
    z-index: 1051;
}

.screen3_container_icon_diamond{
    position: absolute;
    left: -23px;
    top: 67px;
    width: 37px;
    height: 37px;
}

.screen3_container_icon_area{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.screen3_wrapper_area{
    position: absolute;
    left: 100px;
    top: 20px;
}

.screen3_container_area{
    position: relative;
    margin: 0px;
}

.screen3_span_pl_smalltext_bedroom,
.screen3_span_pl_smalltext_area{
    position: relative;
    margin-left: 5px;
    font-size: 13.25px;
    font-family: "Gotham-Medium";
    font-weight: bold;
}

.screen3_container_icon_price{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 30px;
    top: 105px;
}

.screen3_container_price{
    position: absolute;
    left: 100px;
    top: 110px;
}

.screen3_container_icon_bathrooms{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 270px;
    top: 20px;
}

.screen3_container_bathrooms{
    position: absolute;
    left: 340px;
    top: 20px;
}   

.screen3_container_icon_bedrooms{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 270px;
    top: 105px;
}

.screen3_wrapper_bedrooms{
    position: absolute;
    left: 340px;
    top: 105px;
}

.screen3_container_bedrooms{
    position: relative;
    margin: 0px;
}

.screen3_span_pl_smalltext_bedrooms{
    position: relative;
    margin-left: 5px;
    font-size: 13.25px;
    font-family: "Open Sans";
    font-weight: bold;
}

.screen3_wrapper_homesites{
    position: absolute;
    padding: 5px;
    left: 400px;
    width: 150px;
    height: 54px;
    top: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.3;
    font-family: "Gotham-Medium";
}

.screen3_container_homesites{
    /* position: absolute;
    left: 15px;
    top: 0px; */
    font-size: 17px;
    font-weight: bold;
    color: white;
    /* max-width: 125px; */
    text-align: center;
    line-height: 1.3;
    font-family: "Gotham-Medium";
    padding: 5px;

}

.screen3_container_icon_button{
    position: absolute;
    right: 13px;
    top: 8px;
    width: 35px;
    height: 35px;
}

.screen3_wrapper_option{
    display: none;
    position: absolute;
    left: 400px;
    width: 220px;
    height: 50px;
    top: 105px;
}

.screen3_container_option{
    position: absolute;    
    font-size: 14.25px;
    left: 15px;
    top: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
}

.screen3_container_option_icon{
    position: absolute;
    right: 13px;
    top: 8px;
    width: 35px;
    height: 35px;
}

.screen3_corner{
    transform: rotate(-90deg) !important;
    width: 168px !important;
    top: 0px !important;
}

.col-sm-12{
    padding: 0px;
}

#homesites_image{
    max-width:484px;
    /* margin-left: -15px; */
}

thead, th , td{
    text-align: center;
}

.siteplan_table_header object{
    padding-top: 16px;
}

th{
    background-color: white;
}

#homesites_model_container{
    width: 452px;
    height: 170px;
    margin-left: 18px;
    margin-bottom: -1px;
}

#homesites_name_container{
    position: absolute;
    width: 70px;
    height: 170px;
    left:45px;
}

.homesites_info_container{
    height:170px;
    width: 385px;
    position: absolute;
    left: 117px;
}

.homesites_container_icon_diamond{
    position: absolute;
    left: -21px;
    top: 8px;
    width: 37px;
    height: 37px;
}

.homesites_container_icon_area{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 35px;
    top: 60px;
}

.homesites_wrapper_area{
    position: absolute;
    left: 85px;
    top: 60px;
}

.homesites_container_area{
    position: relative;
    margin: 0px;
}

.homesites_span_pl_smalltext_area{
    position: relative;
    margin-left: 5px;
    font-size: 13.25px;
    font-family: "Open Sans";
    font-weight: bold;
}

.homesites_container_icon_price{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 35px;
    top: 120px;
}

.homesites_container_price{
    position: absolute;
    left: 85px;
    top: 120px;
}

.homesites_container_icon_bathrooms{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 220px;
    top: 60px;
}

.homesites_container_bathrooms{
    position: absolute;
    left: 265px;
    top: 65px;
}   

.homesites_container_icon_bedrooms{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 220px;
    top: 125px;
}

.homesites_wrapper_bedrooms{
    position: absolute;
    left: 265px;
    top: 120px;
}

.homesites_container_bedrooms{
    position: relative;
    margin: 0px;
}

.homesites_span_pl_smalltext_bedrooms{
    position: relative;
    margin-left: 5px;
    font-size: 13.25px;
    font-family: "Open Sans";
    font-weight: bold;
}

#homesites_pl_name{
    font-size: 39px;
    font-family: "playfair_displayregular";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    top: 25px;
    left: 10px;
    -ms-font-feature-settings: "case" on;
    font-feature-settings: "case" on;
    height: 50px;
    z-index: 10;
}

.homesites_container_name{
    height: 20px;
    font-size: 21px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 11px;
}

#homesites_floorplans{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    padding: 1px;
    height: 35px;
    width: 110px;
    position: absolute;
    right: -15px;
    top: 9px;
    text-align: center;
}

.search_group_pl, .search_group_bedrooms, .search_group_bathrooms{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-bottom: 30px;
}

.search_group_pl .search_btn_option{
    width: 52px;
}

.search_group_bathrooms .search_btn_option{
    width: 65px;
}

.search_group_bedrooms .search_btn_option{
    width: 65px;
}

.search_btn_option{
    height: 77px;
    background-color: white;
    color: #231f20;   
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 28px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
}

.search_btn_option.activeButton{
    background-color: #000;  
    color: white;
    border-color: #000;
}

.filters_container{
    border-style: solid;
    border-width: 0.5px;
    border-color: #000;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
}

.filters_max_container{
    position: relative;
    margin-top: -18px;
    text-align: right;
}

.slider{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;    
}

#div_zslider .slider-handle.custom::before {    
    font-size: 20px;
    content: '\2583'; /*unicode block */
    color: #231f20;    
}

.slider.slider-vertical .slider-handle{
    margin-top: -15px;  
}

.filters_sqft_container{
    margin-top: 20px;
}

.filters_clear_counter_container{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.filters_clear_counter_container div{
    width: 50%;
}


.popover{
    max-width: 100%;
    width: 500px;
}

.popover-header{
    font-size: 4em;
}

#compare1_replace, #compare2_replace, .compare_backdrop{
    display: none;
    position: absolute;
    
    top: 0px;
    left: 15px;
    width: 918px;
    height: 886px;    
    z-index: 9999;
    
    color: white;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding-top: 250px;
    background-color: rgba(0, 70, 126, 0.6);
}

.compare_backdrop{
    display: block;
    z-index: 1;
}

#compare1_replace img , #compare2_replace img, .compare_backdrop  img{
    width: 30%;
    margin-top: 60px;
}

#compare1_replace span , #compare2_replace span{
    display: block;
}

.panel_siteplan_info{
    background-color: rgb(223, 229, 242);
    height: 100%;
    font-size: 60px;
    padding-top: 180px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    margin-left: -15px;
}

.panel_siteplan_info img{
    width: 50%;
    margin-top: 50px;
}

#panel_siteplan{
    display: none;
}

#panel_lot_available_lots{
    margin-top: -8px;
}

path.pulse-svg, polygon.pulse-svg{
    -webkit-animation: pulsate 1.5s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    fill-opacity: 0.0;
}

@keyframes pulsate {
    0% {opacity: 0.0; fill-opacity: 0.0;}
    50% {opacity: 0.9; fill-opacity: 1;}
    100% {opacity: 0.0; fill-opacity: 0.0;}
}

#datatable_available_lots tr.selected{
    background-color: #ada095;
}

#filters_count{
    border: none !important;
}

.screen_idle {
    z-index: 99999;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.screen_idle_tap {
    z-index: 999999;
    width: 200px;
    position: absolute;
    bottom: 50px;
    right: 200px;
}

#compare_container_clear{
    position: absolute;
    left: 910px;
    bottom: 150px;
    z-index: 99999;
}

.compare_btn_reset{
    height: 50px;
    background-color: #000;
    color: white;   
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    border-color: white;
    border-width: 2px;
    padding-top: 5px;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    width: 100px;
}

.screen2_arrow{
    position: fixed;
    color: #231f20;
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
    width: 70px;
    padding-top: 355px;
    font-size: 9em;
    text-align: center;
    z-index: 99999;
}

.screen2_leftarrow{
    left: 0px;    
    display: none;
}

.screen2_rightarrow{
    right: 0px;
}

        /* UPDATED CSS CONTENT */
        /* SCREEN #1 CHANGES */
        #model_image_other_elevations_content{
            margin-top: 10px;
        }
        #model_image_other_elevations_content span{
            position: absolute;
            bottom: 5px;
            left: 5px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Gotham-Bold';
            line-height: 1;

        }
        #model_image_other_elevations_content > div div{
            display: inline-block;
            position: relative;
            width: 48%;
            margin: 1%;
        }
        /* #model_image_other_elevations_content img{
            display: inline-block;
            width: 48%;
            margin: 1%;
            height: 150px;
        } */
        .content{
            margin: 0;
            /* height: 100% */
        }   
        .content p{ margin: 0; }
        .header{
            height: 145px !important;
            position: relative;
        }
        .header p{
            position: absolute;
            bottom: 10px;
            text-transform: uppercase;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 30px;
            left: 40px;
            letter-spacing: 10px;
        }
        .header_title{ 
            font-size: 30px;
            letter-spacing: 2px;
        }
        .header_text{ font-family: 'Gotham-Light'; }
        .emphasize{
            font-size: 80px;
            /* margin-right: 20px; */
            color: white;
        }
        .emphasize2{
            font-size: 30px;
            margin-right: 20px;
            color: white;
        }
        .display_diamond {
            position: absolute;
            bottom: -20px;
            left: 30px;
            z-index: 10;
        }
        .header_30{ background-color: #e3c400 }
        .header_36{ background-color: #e6921a }
        .header_town{ background-color:  #bf2abc }
        .home_image{
            width: 100%;
            height: 480px;
        }
        .category{
            display: inline-block;
            width: 33%;
            padding: 5px 10px;
            margin-top: 15px;
            vertical-align: top;
        }
        .price p, .size p, .bed p, .bath p { 
            margin: 0; 
            padding: 5px 0;
            /* background: #f5f5f5; */
            font-size: 27px;
            font-weight: 600;
            /* padding-left: 15px; */
        }
        .price_icon, .size_icon{
            width: 25px;
            margin: 0 15px 0 15px;
            height: auto;
            padding: 25px 0px;
        }
        .image_container{ position: relative; }
        .image_container_style_name {
            position: absolute;
            bottom: 5px;
            z-index: 30;
            color: white;
            left: 5px;
            font-family: 'Gotham-Bold';
            line-height: 1;
        }
        .button{
            position: absolute;
            bottom: -39px;
            right: 35px;
            width: 70px;        
            height: auto;
            z-index: 10;
        }
        .template_span_pl_name {
            font-family: 'Gotham-Book';
            /* top: 0; */
        }
        .screen1_coin_icon, .screen1_area_icon, .screen1_bed_icon, .screen1_bath_icon  {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat !important;
            background-size: contain;
            background-position: center bottom !important;
            margin-right: 15px;
        }
        .screen1_coin_icon { background: url(../img/Icons/coin.svg); }
        .screen1_area_icon { background: url(../img/Icons/area.svg); }
        .screen1_bed_icon { background: url(../img/Icons/bed.svg); }
        .screen1_bath_icon { background: url(../img/Icons/bathtub.svg); }
        .screen1_template_div_container_info_row {
            /* padding: 20px 0 30px 0; */
            padding: 20px;
            background: #f5f5f5;
        }
        #screen1_content{
            /* height: 930px;
            width: 100%;
            margin-left: 300px;*/
            display: flex;
            flex-flow: column-reverse;
            flex-direction: row !important; 
        }
        .screen2_span_models_priceMin .template_span_pl_smalltext,
        .screen2_span_models_sizeMin .template_span_pl_smalltext {
            font-size: 9px;
            position: initial;
        }
        .screen2_span_models_priceMin span, .screen2_span_models_sizeMin span, .screen2_span_models_sizeMax span{
            font-size: 60%;
        }
        /* SCREEN #2 CHANGES */
        .screen2_template_container { height: 886px; min-width: 472.5px }

        .model_image{
            /* margin-top: 135px; */
            width: 100%;
            height: auto;
        }
        .template_div_details_name_container {
            position: relative;
            height: 110px;
        }
        .screen2_title{ 
            padding: 28px 5px; 
            margin-left: 0;
            margin-bottom: 0;
        }
        .screen2_content_container{
            margin: 0;
            height: 494px;
            background: #f5f5f5;
        }
        .screen2_content_icon img{
            width: 20px;
            margin-right: 5px;
            /* Percentage used over pixels to maintain offset ratio of bootstrap columns */
            /* margin-left: 6.33%;  */
        }
        .screen2_template_container { background-color: rgba(0, 0, 0, 0.0); }
        .screen2_housetype_title{
            font-size: 30px;
            font-family: "Gotham-Light";
            font-weight: 100;
            color: #231f20;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
            position: initial;
            margin: 15px;
            top: 0px;
            z-index: 0;
        }
        .screen2_container_title{
            line-height: 1.5;
            top: 5px;
            font-size: 30px;
            letter-spacing: 5px;
        }
        .screen2_content_title { padding: 30px 10px 0px 10px; }
        .screen2_lot_size {
            top: 0 !important;
        }
        

        /* SCREEN 3 CHANGES  */
        .container_compare_button {
            position: absolute;
            top: 20px;
            right: 30px;
        }

        .screen3_container_area, 
        .screen3_container_bathrooms, 
        .screen3_container_price,
        .screen3_container_bedrooms{
            font-size: 24px;
        }

        .screen3_span_pl_name{
            font-size: 110px;
            top: 74px;
            font-family: 'Gotham-Book';
        }

        .screencompare_span_pl_name{
            font-size: 100px;
            font-family: 'Gotham-Book';
            left: 20px;
            top: 75px;
        }
        .screen3_span_pl_smalltext_area {
            margin-left: 0px;
            font-family: "Gotham-Medium";
        }

        .screen3_container_icon_homesites {
            width: 45px;
            height: 45px;
            position: absolute;
            left: 420px;
            top: 20px;
        }


        /* SEARCH SCREEN CHANGES */
        .search_screen_template_container {
            display: none;
            background-clip: content-box;
            background-color: rgba(0, 0, 0, 0.4);
            height: 430px;
            margin-top: 30px;
            overflow-y: hidden;
        }

        .search_screen_template_div_details_name_container{
            height: 145px !important;
        }

        .search_screen_divider{
            margin-top: 10px;
        }

        .search_screen_house_type{
            color: white !important;
        }

        /* COMPARE SCREEN */
        .screencompare_details_container {
            position: absolute;
            top: 0px;
            left: 15px;
            height: 168px;
            width: 918px;
        }

        .screencompare_images_container {
            position: absolute;
            height: 190px;
            top: 180px;
            bottom: 0;
        }

        #screencompare_floorplans {
            position: absolute;
            top: 380px;
        }

        .screencompare_template_container {
            background-color: white;
        }

        .screen3_container_area, 
        .screen3_container_bathrooms, 
        .screen3_container_price, 
        .screen3_container_bedrooms {
            font-family: "Gotham-Medium";
        }

        .compare_elevation_text {
            font-family: "Gotham-Medium";
        }

        .search_btn_option {
            font-family: "Gotham-Medium";
        }

        .filters_label {
            font-family: "Gotham-Medium";
        }

        .filters_label_title {
            font-size: 26px;
            font-family: "Gotham-Medium";
            text-transform: uppercase;
            margin-left: 15px;
        }
        .smalltext_search{
            font-size: 9px;
        }

        /* SITEPLAN */
        #div_zslider .slider-handle.custom::before {
            font-size: 20px;
            content: '\2583';
            color: #f32f3e;
        }